.header {
    padding: 20px;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 1000;
}

.burger-checkbox {
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1100;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 3px;
    transition: 0.3s;
}

.burger-checkbox:checked + .burger-menu span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 5px);
}

.burger-checkbox:checked + .burger-menu span:nth-child(2) {
    opacity: 0;
}

.burger-checkbox:checked + .burger-menu span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -5px);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header__nav-list-link {
    color: var(--primary-color);
    font-size: 16px;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.header__nav-list-link:hover {
    color: var(--third-color);
    text-decoration: underline;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 5px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

.toggle-label .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.3s;
    pointer-events: none;
}

.toggle-label .sun {
    left: 8px;
    opacity: 1;
}

.toggle-label .moon {
    right: 8px;
    opacity: 0;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #bada55;
}

.toggle-checkbox:checked + .toggle-label .sun {
    opacity: 0;
}

.toggle-checkbox:checked + .toggle-label .moon {
    opacity: 1;
}

.hero {
    background-image: url("../img/Website-Main-Banner-8f49d24d33364fd40a0f9e81a18f1b51 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 257px 0 80px 0;
    gap: 120px;
}

.hero__logo {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero__logo-info {
    color: var(--primary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 62px;
    font-size: clamp(30px, 5vw, 57px);
    text-align: center;
}

.sell {
    padding: 98px 20px;
}

.sell__info {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 36px;
    text-align: center;

}

.sell__info-btn {
    border-radius: 3px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 20px;
    padding: 5px 30px;
    background: rgba(0, 0, 0, 0);
}

.slider {
    background-image: url("../img/Rectangle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 268px 0;
}

.slider__wrapper {
    display: flex;
    will-change: transform;
    animation: marquee 10s linear infinite;
    min-width: 200%;
}

.slider__text {
    color: var(--third-color);
    font-family: var(--font-family-sans-serif), serif;
    font-size: 110px;
    line-height: 166px;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-68.5%);
    }
}

.info {
    margin-top: 90px;
}

.info__block {
    flex-wrap: wrap;
}

.info__block-img {
    width: 100%;
    height: 597px;
}

.info__block-text {

}

.info__block_text-logo {
    justify-self: center;
}

.info__block-text-even {

}

.info__block-text-logo-img {
    width: 40px;
    aspect-ratio: 1/1;
}

.info__block-text-even-logo {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 40px;
    max-width: 350px;
}

.info__block-text-even-info {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 24px;
    max-width: 380px;
}

.favorites {
    margin: 90px 0;
}

.favorites__text-block {

}

.favorites__text-block-component {

}

.favorites__text-block-component-img {
    width: 57px;
    aspect-ratio: 1/1;

}

.favorites__text-block-component-text {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 17px;
    max-width: 78px;
    text-align: center;
}

.favorites__text {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 36px;
}

.shop {
    background-image: url("../img/Rectangle3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 18vh 12vw;
}

.shop__info {
    gap: 10vw;
    align-items: flex-start;
}

.shop__info-logo {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    font-size: clamp(46px, 8vw, 96px);
    line-height: 100px;
    max-width: 600px;

}

.shop__info-btn {
    border-radius: 3px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 20px;
    padding: 5px 30px;
    background: rgba(0, 0, 0, 0);
}

.review {
    padding: 100px 0;
}

.review__block {


}

.stars {

}

.review__block-text {
    color: var(--secondary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 18px;
    max-width: 280px;
    text-align: center;
}

.connected {
    background-image: url("../img/Rectangle4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.connected__logo {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-family-sans-serif), serif;
    line-height: 44px;
}

.connected__info {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-family-sans-serif), serif;
    line-height: 22px;
}

.footer {
    background: var(--secondary-color);
    padding: 50px 0;
}

.footer__block {
}

.footer__block-copyright {
    color: var(--primary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.footer__block-social-img {
    display: flex;
    align-items: center;
}

.footer__block-nav {
}

.footer__block-nav-link {
    color: var(--primary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 32px;
    text-transform: capitalize;
    transition: transform 0.3s ease, background 0.3s ease;
}

.footer__block-nav-link:hover {
    color: var(--third-color);
    text-decoration: underline;
}

.footer__block-nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.footer__block-nav-link:hover::after {
    width: 100%;
}

.footer__block-social {
}

.footer__block-subscribe {
    position: relative;
    display: flex;
}

.footer__block-subscribe-input {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
    padding: 6px 40px 5px 5px;
}

.footer__block-subscribe-btn {
    position: absolute;
    right: 0;
    background: var(--primary-color);
    border: none;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
